@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.mySlides {display: none;}
body,html{
    
    background-color: #fafaf8;
    height: 60%;
    margin: 0;
}

/* .slideshow-container{
    max-width: 1000px;
    
}
.mySlides > img{
    
    width: 100px;
    height: auto;
} */
.header{
    padding: 15px;
    background:rgba(255,255,255,0.6);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index:99; */
    
}
#logo{
    position: relative;
    top: 5px;
    left: 5px;
    width: 20%;  
}
#particles-js
{
    background-image: url(images/bg2.jpg);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    
}
#menu{
    display: none; 
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 15px;
    padding-right: 25px;
}
#close{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    padding-right: 25px;
}

/* navigation bar */
#nav-bar{
    float: right;
    padding-top: 14px;
    padding-right: 10%;
}
#nav{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
#nav >li{
    display: inline-block;
}
.nav_names{
    padding: 15px 35px;
    text-decoration: none;
    /* color: #016a9d;*/
    color: #ff5505;
    font-size: 22px;
    font-weight: normal;
    font-family: poppins;
   
}

/* .dropbtn{
    cursor: pointer;
    font-size: 22px;
    border: none;
    outline: none;
    color: #ff5505;
    font-weight: bold;
    padding: 15px 20px;
    background-color: inherit;
    margin: 0;

}
.dropdown-content{
    display: none;
    
    position: absolute;
    top: 70px;
    right: 95px;
    width: 500px;
    background-color: white;
    min-width: 100px;
}
.dropdown-content a {
    display: inline-block;
    float: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    text-align: left;
    font-family: poppins;
}
.dropdown-content a:hover {
    background-color: #ff5505;
}
.dropdown:hover .dropdown-content {
    display: block;
} */
#nav > li > a:hover{
    color: #ff5505;
}
.active{
    background-color: #17252a;
}
.active2{
    color: white;
}
/* @media only screen and(min-width: 768px){
    #close{
        display: none;
    }
} */
@media only screen and (max-width: 768px) {
    #nav-bar{
      display:none;  
    }
    #nav >li{
        display: block;
    }
    #menu{
        display: block;
    }
    #logo{
        width: 200px;
    }
    .nav_names{
        font-weight: normal;
        font-size: 15px;
        padding: 5px 10px;
    }
    input[type=text]{
        padding-right: 5%;
    }    
}

/* Next & previous buttons */
/* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #016a9d;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
} */
/* Position the "next button" to the right */
 /* .next {
    right: 0;
    border-radius: 3px 0 0 3px;
} */
/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
   color: #ff5505;
} */

/* who we are (About section) */

.parallax{
    /* The image used */
    background-image: url('images/background.jpg');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.parallax2{
    /* The image used */
    background-image: url('images/background2.png');
    /* Full height */
    height: 100%; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#parallax-div1{
    height:320px;
    background-color:#fafaf8;
}
.para{
    font-size: 20px;
    padding:25px;
    text-align: center;
    margin: 0;
    font-family: poppins;
}

.about > h1,  h1, h2{
    text-align: center;
    font-family: poppins;
    color: #016a9d;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    margin: 0;
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 24px;
        padding: 0;
    }

    #parallax-div1{
        height: 360px;
    }
}

/* services */
.box-effect > h3{
    text-align: center;
    font-family: poppins;
    color: #ff5505;
}
.box-effect > p{
    text-align: justify;
    font-size: large;
    /* font-style: italic; */
}
#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2.5rem;
    margin: 20px 80px;
}
#grid > div {
    /* background: #EDE7F6; */
    background: white;
    padding: 1rem;
    /* border-radius: 1rem; */
}
#grid > div:hover{
    box-shadow: 0 0 20px #aaaaaa;
}

.box-effect {
    /* border: 1px solid #BFBFBF; */
    box-shadow: 10px 10px 5px #aaaaaa;
}
/* .info{
    text-decoration: none;
    float: right;
    font-family: poppins;
    color: #016a9d;
} */
.rm-link{
	text-decoration: none;
    float: right;
    font-family: poppins;
    color: #016a9d;
}
.rm-link:hover{
	color: #ff5505;
	text-decoration: none;
}
@media screen and (max-width: 700px) {
    #grid{
        margin: 10px 30px;
    }
}

/* technology */
#technology{
    /* background-color: #e4e4e4; */
    background-color: #21242b;
    padding-left: 6%;
    margin-top: 50px;
    height: auto;
}
#tech-img{
    padding-right: 8%;
    display: inline-block;
}
.tech-img{
    padding-right: 8%;
    display: inline-block;
}
.tech-img > h3{
    color: white;
}
/* contact */
.contact-info{
    padding-left:15px;
}
.contact-info-detail{
    display: inline-block;
    padding-right: 8%;
    color: white;
    font-family: poppins;
    font-size: 14px;
}
input[type=text], textarea {
  width: 87%;
  padding: 12px;
  border: none;
  outline: none;
  background: #f1f1f1;
  border-radius: 4px;
  resize: vertical;
  font-family: poppins;
}


input[type=submit] {
    width: 10%;
    margin-left: 15%;
    background-color: #ff732f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: poppins;
}

input[type=submit]:hover {
  background-color: #f75000;
}

.container {
    /* border-radius: 5px; */
    background-color: #6b83e0;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url('images/contact-us2.jpg');
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    padding: 20px;
}

.col-25 {
  float: left;
  width: 20%;
  margin-top: 6px;
}
.col-50 {
  float: left;
  width: 43%;
  margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .col-25, .col-50{
    width: 70%;
    margin-right: 2px;
    margin-top: 2px;
    float: none;
  }
  .container{
      padding-left: 120px;
  }
  input[type=submit]{
    padding: 10px;
    margin-top: 2px;
    width: 35%;
  }
  .contact-info-detail{
      padding: 10px;
      font-size: 14px;
  }
  #adjust{
      display: block;
      padding-left: 60px;
    }
}
/* footer */
.footer{
    background-color: #17252a;
    color: white;
    /* margin-top: 20px; */
    font-family: poppins;
}
.inside-footer{
    display: inline-block;
    padding: 2%;
    padding-left: 8%;
}
.copyright{
    text-align: center;
    font-size: 14px;
}
#contact-footer{
    padding-left: 20%;
}
#arrow-up{
    padding-left: 20%;
}
.loc-color{
    color: white;
}
.loc-color:hover {
    color: #ff5505;
}
@media only screen and (max-width: 700px){
    .footer{
        margin-top: 10px;
    }
    .inside-footer{
        font-size: 12px;
        font-weight: normal;
        padding: 5px;
    }
    #social{
        padding-left: 12%;
    }
    .copyright{
        font-size: 12px;
    }
    #contact-footer{
        padding-left: 5px;
    }
    #arrow-up{
        padding-left: 9%;
    }
}
/* About us page */
.about-boxes{
    display: inline-block;
    width: 46%;
    margin: 0;
    padding-left: 27px;
}
@media only screen and (max-width: 700px){
    .about-boxes{
        width: 30%;
    }
    h2{
        font-size: 22px;
    }
    .para{
        font-size: 14px;
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }
}
/* moving text */
.ml11 {
    font-weight: 600;
    font-size: 1.8em;
}

.ml11 .text-wrapper {
    position: absolute;
    top: 100px;
    left: 45%;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml11 .line {
    opacity: 0;
    position: relative;
    left: 0;
    height: 100%;
    width: 3px;
    transform-origin: 0 50%;
}

.ml11 .line1 { 
    top: 0; 
    left: 0;
}

.ml11 .letter {
    display: inline-block;
    line-height: 0.5em;
    color: #ff5505;
    position: relative;
    /* top: 90px;
    left: 225px; */
}
@media only screen and (max-width: 700px){
    .ml11 {
        font-weight: 600;
        font-size: 1.1em;
    }
    .ml11 .text-wrapper {
        position: absolute;
        top: 150px;
        left: 28%;
    }
}

/* career */
#career{
    font-family: poppins;
    font-size: 20px;
    text-align: left;
    padding: 15px 10%;
    background-color: #dbe9f2;
}
@media only screen and (max-width: 700px){
    #career{
        font-size: 14px;
    }
}
#job-list{
    box-shadow: 0 0 10px #f1f1f1;
    background-color: white;
    border-radius: 5px;
}
#job-list > div{
    padding-left: 50px;
    color: #016a9d;
}